%hamburger-line{
    content:'';
    display: inline-block;
    position: absolute;
    background: $color-text;
    border-radius: 5px;
    height: 3px;
    width: 100%;
}


.hamburger {
    display: none;
    position: relative;
    width:50px ;
    height: 18px;
    @include media-tablet{
        display: inline-block ;
    }
    &::before {
        @extend %hamburger-line;
        top: 0;
        left:0;
    }
    &::after{
        @extend %hamburger-line;
        bottom:0 ;
        left:0;
    }
}

.hamburger__line{
   @extend %hamburger-line;
   position: inline-block;
   top: calc(50% - 1.5px);
   left:0;
}

.header__hamburger{
    padding: 5px 0;
    right:64px;
}

