.promo__wrapper{
    display: block;
}

.promo-title{
  color: $color-text;
}

.promo-p{
    width: 470px;
    margin:  10px 0px 25px 0px;
    color: $color-text;
}

.promo__content{
    padding: 123px 0px 330px 80px;
}

