.promo__wrapper{
    display: block;
}

.promo{
    color: $color-text; 
}

.promo__content{
    padding: 90px 0px 330px 80px;
    width: 500px;
}
.promo__title{
    width:500px;
    margin-bottom: 10px;
}

.promo__text{
    width: 470px;
    margin:  10px 0px 25px 0px;
    @extend %font-add;
    @include font ($size: 2rem, $height: 4rem, $weight:normal);

}



