.video {
    position: relative;
    z-index: 1;
    @include media-tablet{
        width:100%;
    }
}

.play-hover{
    position: relative;
    z-index: 2;
    top: -486px;
    text-align: center;
@include media-tablet{
   top:-281px;
}
}
 