.button{
    padding:8px 72px 7px 73px;
    @extend %font-primary;
    @include font($size:2rem, $height:4rem, $weight:normal);
    border:2px solid $color-brand;
    cursor: pointer;
    transition: all .3s;
    &_colored{
        background:$color-brand;
        color: $color-background;
    }
    &_bordered{
        background: $color-background;
        color:$color-brand;
        &:hover{
            background:$color-brand;
            color:$color-background;
        }
    }
    
}

