.contact__wrapper{
    background:url("../images/bg_form.jpg");
    min-height: 700px;
    max-width: 1440px;;
    background-repeat:no-repeat;
}

.contact-container{
    @include media-tablet{
            display:flex;
            flex-flow: column;
            align-items: center;
    }
}

.contact-title-box{
    text-align: right;
    padding-right: 244px;
    padding-top: 80px;
    @include media-tablet{
        text-align: 0px;
        padding-right: 0px;
    }
}

.contact-title{
    color: $color-brand;
    background:none;
    @include media-tablet{
        @include font ($size: 3.2rem, $height: 6rem); 
    }
}
.contact{
    padding: 117px 0 0 0;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact__form{
    min-width: 450px;
    input,textarea{
        border: 1px $color-brand solid;
        background:none;
        padding: 5px 20px;
        margin: 0 0 20px 0;
        width: 450px;
        resize: none;
        color:$color-brand;
        @include media-tablet{
            background:#00000080;
        
        }
    }

}

textarea{
    width: 100px;
}

input{
    height:50px;
}

textarea::placeholder{
    color: $color-brand
}

input::placeholder{
    color:$color-brand;
}


.contact-button{
    margin:20px 271px 0 0;
    .button_colored{
        right: 183px;
    }
    @include media-tablet{
        margin: auto;
        right: 0px;
    }
}


