.price-box{
    @include media-tablet{
        width: 100%;
    }  
}

.price-container{
@include media-tablet{
    flex-direction:column;
    width:420px;
    margin: auto;
}
}

.price__package{
    color: $color-brand;
    @extend %font-add;
    @include font($size: 2.4rem, $height: 4.8rem);

}

.price__text{
    color: $color-text;
    list-style:none;
    padding:0;
}


.price__content{
    text-align: center;
    border: $color-brand solid 3px;
    @include media-tablet{
        margin: 0 0 50px 0;
    }
}

.price__button{
    margin: 40px 0 43px 0 ;

    
}


.title-decoration_price{
    margin-top: 0;
}