.container__wrapper{
      background:url("../images/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @include media-tablet{
          background-repeat: no-repeat;
      background-size: inherit;
      }
    
}



.header{
    padding:20px, 0px, 20px, 0px;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding:25px 0 0 60px;
    width: 50px;
    height:40px;
    align-self: flex-start;
}

.header__lang-navigation * {
    display: inline-block;
}

.header__lang{
    @include media-tablet{
        margin-left: 393px;
    }
}








