.container__wrapper{
      background:url("../images/bg.jpg");
    
}

.header{
    padding:20px, 0px, 20px, 0px;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 20px;
    width: 50px;
    height:40px;
    align-self: flex-start;
}

.header__lang-navigation * {
    display: inline-block;
}





