
.header__lang{
    display: flex;
    font-size:2.0rem;
    line-height:5.0rem;
    list-style:none;
    padding: 0 4px;
}

.language{
    color: $color-text;
    cursor: pointer;
    
}

.language:hover{
    color: $color-brand;
}


.slash{
    color: $color-text;
    padding: 0 8px 0 9px;
}

.language_ru{
    padding-right:20px;
}

