.navigation{
    color: $color-text;
    display: flex;
    @include font($size:2rem, $height:5rem, $weight:normal);
}

.navigation__link{
    list-style:none;
    padding: 0 15px;
    cursor: pointer;
    &:hover{
        color: $color-brand;
    }
    
}

.header__navigation{
    @include media-tablet{
        display: none;
    }
}

